.herobox{
    margin: 11vh 17.4vw;
    height: 55vh;
    width: 65vw;
    border: 2px solid;
    border-image: linear-gradient(to right, rgb(255, 254, 254) 50%, rgb(0, 0, 0) 50%);
    border-image-slice: 1; 
   
    animation: herobox 2s ease  1 ;
    overflow: hidden;
}
@keyframes herobox{
    0%{
        margin: 35vh 17.4vw;
        height: 1vh;
    }
    100%{
        margin: 11vh 17.4vw;
        height: 55vh; 
    }}
    
@keyframes hero-img-in {
    0%{
        width: 2%;
        height: auto;
    }
    100%{
       
        width: 32%;
        height: auto;
    }
}    

.herobox-left{
    width: 50%;
    /* position: relative; */
    /* display: flex; */
}
.herobox-left-content{
    height: 50vh;
    font-size: calc(1rem + 1.5vw);
    color: rgb(252, 246, 244);
    padding: 2rem 3rem;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
   
}
.herobox-left-content h1{
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 4vh;
}
.herobox-left-content h3{
    font-family: Karla, sans-serif;
    font-weight: 500;
    color: white;
    margin-bottom: 20vh;
}
.herobox-left-content h6{
    color: rgba(252, 246, 244, 0.6);
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 300;
    /* margin-top: -3vh; */
}
.herobox-right img{
    position: absolute;
    bottom: 25vh;
    left: 65%;
    transform: translate(-50%, 0%);
    width: 32%;
    height: auto;
    animation: hero-img-in 3s ease  1 ;
}

/* @media(max-width:800px){
    .herobox{
        border-image: linear-gradient(to bottom, rgb(255, 254, 254) 50%, rgb(0, 0, 0) 50%);
        border-image-slice: 1; 
    }
    .herobox-left-content{
        padding: 1rem;
    }
    .herobox-left-content h1{
        font-size: 2rem;
        margin-bottom: 0px;
    
    }
    .herobox-left-content h3{
        margin-bottom: 8rem;
        font-size: 1.2rem;
    }
    .herobox-left-content h6{
        font-size: 1rem;
    }
} */
@media(max-width:500px){
    .herobox{
        margin: 9.5vh 17.4vw;
        height: 55vh;
        width: 65vw;
        display: flex;
        flex-direction: column;
        
        border-image: linear-gradient(to bottom, rgb(255, 254, 254) 50%, rgb(0, 0, 0) 50%);
         border-image-slice: 1; 
    }
    .herobox-left-content{
        height: 10vh;
        padding: 1rem 2rem;
        cursor: crosshair;
        display: flex;
      
    }
    .herobox-left{
        width: 100%;
        height: 50%;
        /* position: relative; */
        /* display: flex; */
    }
    .herobox-left-content h1{
        font-family: "Source Sans Pro", sans-serif;
        margin-bottom: 1vh;
        font-size: 1.5rem;
    }
    .herobox-left-content h3{
        margin-bottom: -1.7rem;
        font-size: 1.2rem;
    }
    .herobox-left-content h6{
        font-size: .9rem;
    }
    .herobox-right img{
        position: absolute;
        bottom: 25vh;
        left: 52%;
        transform: translate(-50%, 0%);
        width: 40%;
        height: auto;
        animation: hero-img-in 3s ease  1 ;
    }
}