.home {
  height: 100vh;
  width: 100vw;
  background: rgb(252, 246, 244);
}
.herobox-container {
  background: linear-gradient(to right, black 50%, rgb(252, 246, 244) 50%);
}

.home h2,
.home h3 {
  position: fixed;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  width: fit-content;
  color: black;
}
.about-link {
  left: 30vw;
  bottom: 3vh;
  cursor: pointer;
}
.my-skill-link {
  left: 68vw;
  bottom: 3vh;
  cursor: pointer;
}
.project-link {
  rotate: -90deg;
  top: 44vh;
  cursor: pointer;
}
.resume-link {
  rotate: -90deg;
  top: 24vh;
  cursor: pointer;
}
.hi-link {
  top: 5vh;
  right: 7vh;
  cursor: pointer;
}
.about-link:hover,
.hi-link:hover,
.my-skill-link:hover,
.project-link:hover,
.resume-link:hover {
  transform: scale(1.1);
}
.resumeabout{
    filter: brightness(0) invert(1);
}
@media (max-width: 800px) {
  .home h2,
  .home h3 {
    position: fixed;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    width: fit-content;
    color: black;
    font-size: 20px;
  }
  .herobox-container{
    background: linear-gradient(to bottom, black 50%, rgb(252, 246, 244) 50%);
}
.project-link {
  top: 42vh;
  }
}
@media(max-width:500px){
  .home h2,
  .home h3{
    font-size: 15px;
  }
}
