/* my skill whole page  */
.myskill{
    height: 100vh;
    width: 100vw;
    background: rgb(252, 246, 244);
    
    
}
.myskill {
    animation: slideUp 1s ease forwards;
    /* Define slide-up animation */
    transform: translateY(100%);
    /* Start from bottom */
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
.skill-text-background{
    position: fixed;
    top: 80%;
    right: 24%;
    color: rgba(0, 0, 0, 0.2);
    font-size: calc(5rem + 5vw);
    font-family: "Source Sans Pro", sans-serif;
}

 /* my skill main container  */
 
.main-skill-container{
    display: flex;
  
    justify-content: center;
    align-items: center;
    gap: 8vw;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 4vh;
    margin-left: 2vw;
    line-height: 1.5;
    font-size: 1.1rem;
    
   
}
.main-skill-container h2{
    font-size: calc(1em + 1vw);
    
}

/* left container  */

.left-skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border: 2px solid black;
    width: 27vw;
    height: 60vh;
    padding: 2.7vw;
    font-size: calc(.5em +3vw);
   
}
.left-skill-container:hover, .right-skill-container:hover{
    
    background: rgba(0, 0, 0, 0.791);
    color: white;
}
.first-left-skill-p{
    font-size: calc(0.5em + 1vw);
    padding: 0.5rem 0px;
    font-size: 1.1rem;
}

/* right container  */

.right-skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border: 2px solid black;
    width: 27vw;
    height: 60vh;
    padding: 2.7vw;
    margin-top: 3;
   
}
.right-skill-container h2{
    margin-top: -3rem;
    margin-bottom: 1rem;
}
.first-right-skill-p{
    font-size: calc(0.5em + 1vw);
 
    font-size: 1.1rem;
}


@media(max-width:500px){
    .myskill{
        
        display: flex;
        flex-direction: column;

    }
    .main-skill-container{
        padding-top: 14rem;
        margin:  0;
        flex-direction: column;
        height: calc(100vh - 9rem);
        overflow-y: scroll;
    }
    .left-skill-container{
        gap: 0px;
        width: 49vw;
        height: 50vh;
        padding: 2.7vw 6vw;
        font-size:1rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
    }
    .right-skill-container{
        gap: 0px;
        width: 49vw;
        height: 50vh;
        padding: 2.7vw 6vw;
        font-size:1rem;
        margin-bottom: 3rem;
    }
    .right-skill-container h2,.right-skill-container p{
        margin: 0;
        margin-bottom: 1rem;
    }
    .skill-right-second-heading{
        margin-top: 1rem;
    }
}